body {
  font-family: sans-serif;
  margin: 1em;
}

.pixel {
  height: 30px;
  width: 30px;
  background-color: #eeeeee;
}

td {
  padding: 0px;
}

table {
  border-spacing: 0px;
}

.blurred {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.rounded .pixel {
  border-radius: 100%;
}
